/* #results{

    background-image: url("/static/images/results/tenor.gif");
    background-repeat: no-repeat;
    background-size: cover;
} */

/* body{
    background-image: url("/static/images/results/tenor (1).gif");
    background-repeat: no-repeat;
    background-size: cover;
    
} */

.con .background-image img {
    padding-top: 100px;
    position: fixed;
    z-index: -1;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /* filter: blur(5px); */
   filter: brightness(40%);
  }

#results{
    color: white;
    
    /* background-color:rgba(255,255,255,0.2); */
  
}
#gif1{
width:200px;
}